div#__next {
    overflow-x: hidden;
    overflow-y: hidden;
}


.influencer-slider{
    .blog-main-heading{
        font-family: fantasy;
        transform: $tranform;
    }
    .main-slider-offer{
        margin: 70px 75px 0px 82px;
        .blog-image{
            filter: grayscale(100%);
            cursor: pointer;
            .social-icons{
                position: relative;
                left: 295px;
                display: none;
                top: 190px;
                color: white;
                svg{
                    margin-bottom: 20px;
                    background-color: #014a44;
                    border-radius: 50%;
                    padding: 4px;
                }
            }
        }
        .blog-image:hover{
            filter: none;
            .social-icons{
                margin-top: -176px;
                position: relative;
                left: 295px;
                display: grid;
                top: 190px;
                color: white;
            }
        }
        
    }
    .influencer-heading{
        background-color: #014a44;
        width: 10pc;
        text-align: center;
        margin-left: 20px;
        margin-top: -40px;
        padding: 1px 5px 1px 5px;
        transform: $tranform;
        border-radius: 5px;
        h6{
            color: white;
            font-weight: 700;
        }
        color: white;
    }
}
.about-us-banner{
    margin-left: 60px;
    margin-right: 60px;
}
.about-us{
    .main-why-nutritrix{
        margin-top: -20pc;
        margin-left: 35px;
        margin-right: 35px;
        background: rgb(238, 236, 236);
        padding-bottom: 50px;
        margin-bottom: 10px;
        .reviews-main{
            width: 555px;
        }
    }
}
.content{
    margin-left: 7pc;
}
.about-us-top{
    margin: 0px 60px 0px 118px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77pc;
    .square-box{
        transform: skewX(-10deg);
        border-radius: 5px;
        background-color: #014a44;
        display: block;
        padding: 45px 0px 80px 0px;
        top: -406px;
        left: 48pc;
        margin-bottom: 10px;
        width: 8pc;
        position: relative;
     
    }
    .square-box-1{
        transform: skewX(-10deg);
        border-radius: 5px;
        background-color: #014a44;
        display: block;
        padding: 45px 0px 80px 0px;
        top: -413px;
        left: 52pc;
        margin-bottom: 10px;
        width: 8pc;
        position: relative;

    }
    h3{
        margin-top: -44pc;
        font-family: fantasy;
        font-size: 60px;
        transform: $tranform;
        margin-bottom: 45px;
    }
    h4{
        margin-bottom: 20px;
    }
    h5{
        text-align: center;
        font-size: 30px;
    }
    button{
        border: 0px;
        background-color: gainsboro;
        padding: 7px;
        border-radius: 5px;
        margin-top: 15px;
    }
    button:hover{
        color: white;
        background-color: $text-color;
    }
    .years-experience{
        background-color: #014a44;
        width: 224px;
        position: relative;
        display: block;
        padding: 5pc 0px 5pc 0px;
        top: -485px;
        transform: skewX(-10deg);
        border-radius: 5px;
        .over{
            font-size: 25px;
            font-family: fantasy;
            color: white;
            margin-left: 22px;
        }
        .years{
            margin-left: 22px;
            font-size: 130px;
            margin-top: -43px;
            margin-bottom: -20px;
            font-family: fantasy;
            color: white;
        }
        .experience{
            margin-left: 22px;
            font-size: 25px;
            font-family: fantasy;
            color: white;
        }
    }
}
.mobile-about-us-banner{
    display: none;
}
.desktop-about-us-banner{
    display: block;
}
.mobile-aboutus-img{
    display: none;
}
@media screen and (max-width: 767px) and (min-width: 300px) and (pointer: coarse) {
    .mobile-aboutus-img{
        display: block;
    }
    .about-us{
        .swiper, swiper-container {
            height: 55pc !important;
        }
        .swiper-pagination{
            top: 45pc !important;
            .swiper-pagination-bullet{
                position: relative;
                width: 65px !important;
                left: 40pc !important;
            }
        }
    }
    
    .about-us{
        .influencer-slider{
            margin-bottom: 120px;
            .influencer-heading{
                width: 36pc;
                h6{
                    font-size: 50px;
                }
                p{
                    font-size: 40px;
                }
            }
            .main-slider-offer{
                margin: 70px 75px 0px 82px;
            }
            .blog-main-heading{
                h2{
                    font-size: 70px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 900;
                }
            }
        }
   
    .main-why-nutritrix{
        display: grid;
        .swiper-backface-hidden .swiper-slide {
            height: 50pc;
        }
  
       
        .reviews-main{
            width: 89pc;
            margin-bottom: 70px;
    
            .css-ryrseu-MuiRating-root {
                font-size: 5.5rem;
            }
            h5{
                font-size: 70px;
                padding-top: 40px;
            }
            h6{
                font-size: 40px;
                padding-bottom: 40px;
            }
            p{
                font-size: 50px
            }
        }
        .pointers-why-nutritrix{
            margin-top: 80px;
            button{
                font-size: 60px;
            }
            .inside-headings{
                padding-top: 20px;
                padding-bottom: 20px;
                h5{
                    font-size: 60px;
                }
                p{
                    font-size: 50px;
                }
             
            }
            grid-template-columns: 1300px;
            .pointers-icon{
                font-size: 120px;
            }
        }
        .headings-why-nutritrix{
            
            h6{
                font-size: 50px;
            }
            h2{
                font-size: 70px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 800;
            }
        }
    }
}
    .content {
        margin-left: 100px;
        position: relative;
        top: -3pc;
        width: 100%;
        left: -8pc;
        margin-bottom: 30pc;
    }
    .about-us-top{
        display: grid;
        p{
            font-size: 50px;
        }
        button{
            font-size: 60px;
        }
        h3{
            font-size: 70px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 900;
        }
        h4{
            font-size: 50px;
        }
        .desktop-about-us-banner{
            display: none;
        }
        .square-box{
            top: 34pc;
            left: 74pc;
        }
        .square-box-1{
            top: 32pc;
            left: 82pc;
        }
        .years-experience{
            top: -66pc;
            left: 50pc;
            width: 490px;
            padding-top: 10pc;
            padding-bottom: 10pc;
            .over{
                font-size: 60px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 600;
            }
            .years{
                font-size: 120px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 800;

            }
            .experience{
                font-size: 60px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 600;

            }
        }
        .mobile-about-us-banner{
            display: block;
     
        }
    }
}



@media screen and (max-width: 767px) and (min-width: 300px) and (pointer: coarse) {
    .blog-image{
        cursor: pointer;
        .social-icons{
            position: relative;
            left: 295px;
            top: 190px;
            color: white;
            svg{
                margin-bottom: 20px;
                background-color: #014a44;
                border-radius: 50%;
                padding: 4px;
            }
        }
    }
    .influencer-slider .main-slider-offer .blog-image:hover {
        .social-icons{
            left: 50px;
            top: 250px;
            position: absolute;
            color: white;
            svg{
                margin-bottom: 20px;
                background-color: #014a44;
                border-radius: 50%;
                padding: 4px;
                font-size: 70px;
            }
        }
    }
    
}
