.faqs{

    .accordion {
        width: 42pc;
    }
    .faqs-top{
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-bottom: 50px;
        .MuiButtonBase-root{
            background-color: white;
            font-weight: 700;
        }
        .css-1fjvggn-MuiPaper-root-MuiAccordion-root {
            border-top: 1px solid gainsboro;
            border-bottom:  1px solid gainsboro;
            border-left: 0px;
            border-right: 0px;
            font-weight: 600;
        }
    }
    .general-faqs{
        margin-left: 60px;
        p{
            font-size: 14px;
            width: 40pc;
        }
    }
    .faqs-heading{
        text-align: center;
        margin-top: 100px;
        font-family: fantasy;
        display: flex;
        align-items: center;
        transform: $tranform;
        font-size: 14px;
        span{
            margin-top: -8px;
            color: #06645c;
            font-weight: 900;
            stroke: #06645c;
            stroke-width: 4;
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 300px) and (pointer: coarse) {
    .desktop-aboutus-img{
        display: none;
    }
    .mobile-aboutus-img{
        margin-top: 80px;

    }
    .faqs{
        .accordion{
            width: 85pc;
            margin-left: 60px;
            margin-top: 100px;
            margin-bottom: 100px;
            border-top: 6px solid gainsboro;
            .css-1fjvggn-MuiPaper-root-MuiAccordion-root{
                border-bottom: 6px solid gainsboro;
            }
            svg{
                font-size: 40px;
            }
        }
        .faqs-top{
            display: grid;
            margin-left: -40px;
            margin-top: 80px;
            p{
                font-size: 50px;
                position: relative;
                width: 85pc;
            }
        }
        .faqs-heading{
            text-align: left;
            position: relative;
            width: 85pc;
            h2{
                font-size: 70px;
            }
            span svg{
                font-size: 40px;
            }
        }
    }
}