.lost-password{
    margin-left: 60px;
    margin-top: 70px;
    h6{
        margin-top: 30px;
    }
    .inputs{
        input{
            margin-right: 20px;
            border: 1px solid gainsboro;
            padding: 15px 111px 15px 14px;
            border-radius: 3px;
        }
    }
    button{
        border: 0px;
        padding: 13px;
        background-color: black;
        color: white;
        font-weight: 500;
        transform: $tranform;
        border-radius: 4px;
        margin-top: 30px;
    }
    button:hover{
        background-color: #014a44;
        color: white;
    }
}