.swiper-pagination-bullet-active {
    background-color: $background !important;
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
    --swiper-navigation-size: 20px;
    background-color: $background;
    font-weight: 700;
    border-radius: 50%;
}

.swiper-button-next{
    padding: 18px 18px 18px 20px;
}
.swiper-button-prev{
    padding: 18px 20px 18px 18px;

}
.slider-image{
    width: -webkit-fill-available;
    height: auto;
}

.main-display-slider{
    display: block;
}

.main-mobile-slider{
    display: none;
}

@media screen and (max-width: 767px) and (min-width: 300px) and (pointer: coarse) {
    .main-desktop-slider{
        display: none;
    }
    .main-mobile-slider{
        display: block;
        .swiper-pagination-bullet{
            width: 30px !important;
            height: 30px !important;
            position: relative;
            top: -15px;
        }
    }
}
